Source: sse-broker
Section: net
Priority: optional
Maintainer: xuyd <sssxyd@gmail.com>
Build-Depends: debhelper-compat (= 11)
Standards-Version: 1.0.7
Homepage: https://github.com/sssxyd/go-sse-broker

Package: sse-broker
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}, systemd
Description: SSE Broker Service
 A powerful and flexible SSE (Server-Sent Events) server designed to offer a complete SSE service solution.
